.container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:40px;
    margin-top: 10px;
    padding-left: 70px;
}
.box{
    font-size: 20px;
}
.box>p{
    display: flex;
    justify-content: center;
    padding-right: 70px;;
}
